<div class="wrapper new">
  <h1>プレイヤー登録</h1>
  <%= form_with(model: @user, local: true) do |f| %>
    <div>
      <%= f.label :player_name %>
      <%= f.text_field :player_name %>
    </div>

    <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    
    <div>
      <%= f.submit "登録", class: "submit btn" %>
    </div>
  <% end %>
  <%= render "error_messages", model: @user %>
</div>