<%= render "shared/battle_mode", item: @items %>

<div class="wrapper adventure">
  <div class="adventure-box">
    
      <%= render "shared/map_1", map: @map_data %>

  </div>  
</div>
<div class="status-btn-box">
  <div id="status-btn" class="btn status">
    <h3>ステータス</h3>
  </div>
</div>

<div class="ready-btn" id=<%=@map_number%>>Ready</div>

<div class="key">
    <div class="btn btn2" id="up-key">▲</div>
    <div class="btn btn2" id="right-key">▶︎</div>
    <div class="btn btn2" id="under-key">▼</div>
    <div class="btn btn2" id="left-key">◀︎</div>
</div>

<div id="side-menu" class="off">
  <div class="side-menu-box">
    <i class="fas fa-times fa-2x" id="close-btn"></i>
    <div class="lv-box">
      <div><h3>Lv  <span><%= @player.level %></span></h3></div>
    </div>
    
    <div><h3>生命力　 <span id="current-life"><%= @player.life %></span></h3></div>
    <div><h3>腕力　　  <span><%= @player.strength %></span></h3></div>
    <div><h3>技術力　  <span><%= @player.skill %></span></h3></div>

  </div>
  <div class="item-list">
    <div class="item-head">所持品一覧</div>
    <div id="item1"><h3> <%= @player.item.stock1 %></h3></div>
    <div id="item2"><h3> <%= @player.item.stock2 %></h3></div>
    <div id="item3"><h3> <%= @player.item.stock3 %></h3></div>
    <div id="item4"><h3> <%= @player.item.stock4 %></h3></div>
    <div id="item5"><h3> <%= @player.item.stock5 %></h3></div>
  </div>
</div>

<div id="modal"></div>

<div class="secret">
  <%= form_with model: @players do |f| %>
    <%= f.text_area :level, value: @player.level %>
    <%= f.text_area :life, value: @player.life %>
    <%= f.text_area :strength, value: @player.strength %>
    <%= f.text_area :skill, value: @player.skill %>
    <%= f.text_area :stock1, value: @player.item.stock1 %>
    <%= f.text_area :stock2, value: @player.item.stock2 %>
    <%= f.text_area :stock3, value: @player.item.stock3 %>
    <%= f.text_area :stock4, value: @player.item.stock4 %>
    <%= f.text_area :stock5, value: @player.item.stock5 %>
  <% end %>
</div>
<div class="window" id="field-announce">
  <div>  
    <div id="field-text"></div>
    <div id="confirm-btn">確認</div>
  </div>
</div>
