<div class="wrapper index">
  <div id="status-btn" class="btn status">
    <h3>ステータス</h3>
  </div>
  <div id="adventure-btn" class="btn status">
    <%= link_to '冒険', adventure_path %>
  </div>
</div>

<div id="side-menu" class="off">
  <div class="side-menu-box">
    <i class="fas fa-times fa-2x" id="close-btn"></i>
    <div class="lv-box">
      <div><h3>Lv  <span><%= @player.level %></span></h3></div>
    </div>
    
    <div><h3>生命力　 <span><%= @player.life %></span></h3></div>
    <div><h3>腕力　　  <span><%= @player.strength %></span></h3></div>
    <div><h3>技術力　  <span><%= @player.skill %></span></h3></div>

  </div>
  <div class="item-list">
    <div class="item-head">所持品一覧</div>
    <div><h3> <%= @player.item.stock1 %></h3></div>
    <div><h3> <%= @player.item.stock2 %></h3></div>
    <div><h3> <%= @player.item.stock3 %></h3></div>
    <div><h3> <%= @player.item.stock4 %></h3></div>
    <div><h3> <%= @player.item.stock5 %></h3></div>
  </div>
</div>